## Terraform related files
**/.terraform/**
**/.terraform.lock.hcl
**/.terraform.tfstate/**
**/.terraform.tfstate.backup/**
**/*.tfvars.json
**/*.planfile
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.d/**
**/cache.*.txt

## Python files
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Sphinx documentation
docs/_build/
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
